pipeline/pl_ingest_sql_to_dl.json
{
	"name": "pl_ingest_sql_to_dl",
	"properties": {
		"activities": [
			{
				"name": "CopySqlDataToDataLake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupSqlConfig",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ids_sql_server",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": {
								"value": "@activity('LookupSqlConfig').output.value[0]['sourceSchemaName']",
								"type": "Expression"
							},
							"tableName": {
								"value": "@activity('LookupSqlConfig').output.value[0]['sourceTableName']",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ls_common_csv_directory_dl",
						"type": "DatasetReference",
						"parameters": {
							"containerName": {
								"value": "@activity('LookupSqlConfig').output.value[0]['sinkContainerName']",
								"type": "Expression"
							},
							"directoryName": {
								"value": "@activity('LookupSqlConfig').output.value[0]['sinkDirectoryName']",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "LookupSqlConfig",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ids_common_json_dl",
						"type": "DatasetReference",
						"parameters": {
							"containerName": {
								"value": "datafactory-config",
								"type": "Expression"
							},
							"directoryName": {
								"value": "common",
								"type": "Expression"
							},
							"fileName": {
								"value": "sql.json",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-12-04T13:19:11Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}